body{
  background-color: black;
}
.HeroText{
  font-size:70px;
  position:absolute;
  color:white;
  font-weight: 500;
  top:50%;
  left:50%;
  transform: translate(-50%,-40%);
  font-family:fantasy;
  text-Shadow:1px 2px 40px rgba(183, 119, 242, 0.8)
}

.HeroText:hover{
  color:black;
  transition: 0.75s ease;

}