.getinTouch{
    border: 1px solid white;
    font-size:60px ;
}
.getinDesc{
    border: 1px solid white;
    text-wrap: wrap;
    padding: 10px;
}   
.getinLoc{
    border: 1px solid white;
    padding: 5px ;
}
.title{
    color: rgba(195, 202, 210, 0.72);
}
.getinLoc .text{
    font-family:'VT323',system-ui;
}